<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <title>asd</title>
</head>
<body>
  
  <form method="post" action="/submit" class="p-4 border rounded">
    <div class="mb-3">
      <label>Name:</label>
    <input type="text" id="name" name="name" value="<%= dto ? dto.name : '' %>"><br>
    </div>
    <div class="mb-3">
      <label>Email:</label>
    <input type="text" id="email" name="email" value="<%= dto ? dto.email : '' %>"><br>
    </div>
    <div class="mb-3">
      <label>Date:</label>
    <input type="date" id="date" name="date" value="<%= dto ? dto.date : '' %>"><br>
    </div>
    <div class="mb-3">
      <label>Number</label>
    <input type="number" id="groupnumber" name="groupNumber" value="<%= dto ? dto.groupNumber : '' %>"><br>
    </div>
    
    
    
    
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <% if (errors && errors.length) { %>
    <div style="color: red;" class="alert alert-danger mt-3">
            <ul class="mb-0">
                <% if (errors && errors.length) { %>
                    <% errors.forEach(error => { %>
                        <li><%= error %></li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
    <% } %>

  </form>
</body>
</html>
